@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

//Theme settings
$colorBackground: #EEEEEE;
$colorForeground: #FAFAFA;
$colorText: #000000;
$colorSecondaryText: #757575;
$colorDivider: rgba(0, 0, 0, 0.06);
$colorTheme: #FF5722;
$colorThemeText: #FFFFFF;

//Colors
$colorDefault: #ffffff;
$colorPrimary: #2196F3;
$colorSuccess: #4CAF50;
$colorInfo: #00BCD4;
$colorWarning: #FFC107;
$colorDanger: #f44336;

//Styling
* {
  user-select: none;
  cursor: default;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
  background-color: $colorBackground;
  color: $colorText;
}

.jumbotron {
  background-color: $colorForeground;
  border-radius: 0 !important;

}

/* Buttons */

.btn-default, .btn-default:focus {
  background: $colorDefault;
  background: -moz-linear-gradient(right, $colorDefault 50%, darken($colorDefault, 10%) 50%);
  background: -webkit-linear-gradient(right, $colorDefault 50%, darken($colorDefault, 10%) 50%);
  background: linear-gradient(to left, r $colorDefault 50%, darken($colorDefault, 10%) 50%);
  background-size: 210%;
  background-position-x: 99%;
}

.btn-default:hover {
  background-position-x: 0;
}

.btn-primary, .btn-primary:focus {
  background: $colorPrimary;
  background: -moz-linear-gradient(right, $colorPrimary 50%, darken($colorPrimary, 10%) 50%);
  background: -webkit-linear-gradient(right, $colorPrimary 50%, darken($colorPrimary, 10%) 50%);
  background: linear-gradient(to left, $colorPrimary 50%, darken($colorPrimary, 10%) 50%);
  background-size: 210%;
  background-position-x: 99%;
}

.btn-primary:hover {
  background-position-x: 0;
}

.btn-success, .btn-success:focus {
  background: $colorSuccess;
  background: -moz-linear-gradient(right, $colorSuccess 50%, darken($colorSuccess, 10%) 50%);
  background: -webkit-linear-gradient(right, $colorSuccess 50%, darken($colorSuccess, 10%) 50%);
  background: linear-gradient(to left, $colorSuccess 50%, darken($colorSuccess, 10%) 50%);
  background-size: 210%;
  background-position-x: 99%;
}

.btn-success:hover {
  background-position-x: 0;
}

.btn-info, .btn-info:focus {
  background: $colorInfo;
  background: -moz-linear-gradient(right, $colorInfo 50%, darken($colorInfo, 10%) 50%);
  background: -webkit-linear-gradient(right, $colorInfo 50%, darken($colorInfo, 10%) 50%);
  background: linear-gradient(to left, $colorInfo 50%, darken($colorInfo, 10%) 50%);
  background-size: 210%;
  background-position-x: 99%;
}

.btn-info:hover {
  background-position-x: 0;
}

.btn-warning, .btn-warning:focus {
  background: $colorWarning;
  background: -moz-linear-gradient(right, $colorWarning 50%, darken($colorWarning, 10%) 50%);
  background: -webkit-linear-gradient(right, $colorWarning 50%, darken($colorWarning, 10%) 50%);
  background: linear-gradient(to left, $colorWarning 50%, darken($colorWarning, 10%) 50%);
  background-size: 210%;
  background-position-x: 99%;
}

.btn-warning:hover {
  background-position-x: 0;
}

.btn-danger, .btn-danger:focus {
  background: $colorDanger;
  background: -moz-linear-gradient(right, $colorDanger 50%, darken($colorDanger, 10%) 50%);
  background: -webkit-linear-gradient(right, $colorDanger 50%, darken($colorDanger, 10%) 50%);
  background: linear-gradient(to left, $colorDanger 50%, darken($colorDanger, 10%) 50%);
  background-size: 210%;
  background-position-x: 99%;
}

.btn-danger:hover {
  background-position-x: 0;
}

.btn-flat, .btn-flat:focus, .btn-flat:hover, .btn-flat:active, .btn-flat:active:hover {
  background: transparent;
  outline: none !important;
  box-shadow: none;
  text-transform: uppercase;
}

.btn-flat.btn-default, .btn-flat.btn-default:focus, .btn-flat.btn-default:hover, .btn-flat.btn-default:active, .btn-flat.btn-default:active:hover {
  color: $colorText;
}

.btn-flat.btn-primary, .btn-flat.btn-primary:focus, .btn-flat.btn-primary:hover, .btn-flat.btn-primary:active, .btn-flat.btn-primary:active:hover {
  color: $colorPrimary;
}

.btn-flat.btn-success, .btn-flat.btn-success:focus, .btn-flat.btn-success:hover, .btn-flat.btn-success:active, .btn-flat.btn-success:active:hover {
  color: $colorSuccess;
}

.btn-flat.btn-info, .btn-flat.btn-info:focus, .btn-flat.btn-info:hover, .btn-flat.btn-info:active, .btn-flat.btn-info:active:hover {
  color: $colorInfo;
}

.btn-flat.btn-warning, .btn-flat.btn-warning:focus, .btn-flat.btn-warning:hover, .btn-flat.btn-warning:active, .btn-flat.btn-warning:active:hover {
  color: $colorWarning;
}

.btn-flat.btn-danger, .btn-flat.btn-danger:focus, .btn-flat.btn-danger:hover, .btn-flat.btn-danger:active, .btn-flat.btn-danger:active:hover {
  color: $colorDanger;
}

.btn {
  height: 36px;
  min-width: 64px;
  padding: auto 16px;
  margin: 5px !important;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn:not(.btn-flat) {
  @extend .depth-1;
}

.btn:not(.btn-flat):hover {
  @extend .depth-2;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.btn-block {
  width: auto;
}

.progress {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}

.progress-bar {
  background-color: $colorPrimary;
}

.progress-bar-success {
  background-color: $colorSuccess;
}

.progress-bar-info {
  background-color: $colorInfo;
}

.progress-bar-warning {
  background-color: $colorWarning;
}

.progress-bar-danger {
  background-color: $colorDanger;
}

.progress-bar {
  transition: width 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.row-margin {
  margin-top: 10px;
}

/* SHADOWS */

.depth-0 {
  box-shadow: none;
}

.depth-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.depth-2 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.23);
}

.depth-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.depth-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.depth-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Tabs */

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
  border: none;
  border-radius: 0;
}

.nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: none;
  border-radius: 0;
  margin-bottom: 0;
}

.tab-pane {
  padding: 20px 20px;
}

/* MODALS */

.modal-header {
  background-color: $colorTheme;
  border-bottom: none;
}

.modal-title {
  color: $colorThemeText;
}

.modal-body {
  padding: 0 0 15px;
}

.modal-content {
  border-radius: 0;
}

.modal-content .nav-tabs {
  background-color: $colorTheme;
}

.modal-content .nav-tabs.nav-justified > li > a {
  color: $colorThemeText;
}

.modal-content .nav > li > a {
  border: none;
  border-bottom: solid 2px transparent;
  transition: border ease 200ms;
}

.modal-content .nav-tabs.nav-justified > .active > a, .modal-content .nav-tabs.nav-justified > .active > a:focus,
.modal-content .nav-tabs.nav-justified > .active > a:hover, .modal-content .nav > li > a:focus,
.modal-content .nav-tabs.nav-justified > li > a:hover {
  background-color: transparent;
  border-bottom: solid 2px $colorThemeText;
}

.modal-footer {
  border-top: none;
  padding-bottom: 5px;
}

/* NAVBAR */

.navbar-default {
  background-color: $colorTheme;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  border-bottom: solid 2px #fff;
}

.navbar-default .navbar-nav > li > a {
  border: none;
  border-bottom: solid 2px transparent;
  transition: border ease 200ms;
}

.navbar-default .navbar-nav > .active > a, .modal-content .nav-tabs.nav-justified > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover, .modal-content .nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
  border-bottom: solid 2px #ffffff;
}

.navbar-nav > .dropdown > a, .navbar-nav > .dropdown > a:focus, .navbar-nav > .dropdown > a:hover,
.navbar-nav > .open > a, .navbar-nav > .open > a:focus, .navbar-nav > .open > a:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  border-radius: 100%;
  border-bottom: none !important;
  width: 54px;
  height: 54px;
  padding: 15px;
}

.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

.navbar-nav > li {
  float: left;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

.navbar-right .dropdown-menu {
  top: 2px;
  right: 2px;
  left: auto;
}

.navbar-nav .open .dropdown-menu, .contextmenu.open .dropdown-menu {
  position: absolute;
  float: left;
  width: 200px;
  margin-top: 0;
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  top: 2px;
  right: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown.open > .dropdown-menu {
  animation: dropdownIn ease 200ms;
}

.dropdown.open > .dropdown-menu > li {
  animation: dropdownItemsIn ease 400ms;
}

/* INPUTS */

.text > .form-control {
  height: 30px;
  display: block;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.12) 2px;
  border-radius: 0;
  box-shadow: none;
  line-height: 26px;
  font-size: 18px;
  margin: 5px 0 0;
}

.text > label {
  color: $colorSecondaryText;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  transform: translate(5px, -23px);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.text > input:focus ~ label, .text > input:valid ~ label {
  transform: translate(5px, -44px);
  font-size: 14px;
  color: $colorTheme;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: $colorTheme;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  opacity: 0.5;
}

.form-group > span {
  color: $colorTheme;
}

/* MISC */
.material-icons {
  vertical-align: middle;
}

.contextmenu {
  position: absolute;
  top: 0;
  left: 0;
}

.contextmenu.open > .dropdown-menu {
  animation: contextmenuIn ease 200ms;
}

.modal.fade .modal-dialog {
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}

.modal.in .modal-dialog {
  opacity: 1;
}

.modal.fade {
  -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(100vh);
}

.modal.in {
  transform: translateY(0);
}

.content {
  -webkit-transition: filter 300ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: filter 300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: filter 300ms cubic-bezier(0.19, 1, 0.22, 1);
  filter: blur(0);
}

.modal-open > .content {
  filter: blur(3px);
}

.spin {
  animation: infinite spin 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.table > tbody > tr > td, .table > tbody > tr > th,
.table > tfoot > tr > td, .table > tfoot > tr > th,
.table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
  border-top: 1px solid $colorDivider;
  font-weight: normal;
}

.table > thead > tr {
  height: 56px;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

@keyframes dropdownIn {
  0% {
    transform: translate(50%, -50%) scale(0, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1, 1);
    opacity: 1;
  }
}

@keyframes dropdownItemsIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  25% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contextmenuIn {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1, 1);
    opacity: 1;
  }
}
