@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

body {
    font-family: "Roboto", "Arial", sans-serif;
}

/* Buttons */

.btn-default, .btn-default:focus {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(right, rgb(255, 255, 255) 50%, rgb(205, 205, 205) 50%);
    background: -webkit-linear-gradient(right, rgb(255, 255, 255) 50%, rgb(205, 205, 205) 50%);
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(205, 205, 205) 50%);
    background-size: 210%;
    background-position-x: 99%;
}

.btn-default:hover {
    background-position-x: 0;
}

.btn-primary, .btn-primary:focus {
    background: rgb(33, 150, 243);
    background: -moz-linear-gradient(right, rgb(33, 150, 243) 50%, rgb(25, 118, 210) 50%);
    background: -webkit-linear-gradient(right, rgb(33, 150, 243) 50%, rgb(25, 118, 210) 50%);
    background: linear-gradient(to left, rgb(33, 150, 243) 50%, rgb(25, 118, 210) 50%);
    background-size: 210%;
    background-position-x: 99%;
}

.btn-primary:hover {
    background-position-x: 0;
}

.btn-success, .btn-success:focus {
    background: rgb(76, 175, 80);
    background: -moz-linear-gradient(right, rgb(76, 175, 80) 50%, rgb(56, 142, 60) 50%);
    background: -webkit-linear-gradient(right, rgb(76, 175, 80) 50%, rgb(56, 142, 60) 50%);
    background: linear-gradient(to left, rgb(76, 175, 80) 50%, rgb(56, 142, 60) 50%);
    background-size: 210%;
    background-position-x: 99%;
}

.btn-success:hover {
    background-position-x: 0;
}

.btn-info, .btn-info:focus {
    background: rgb(0, 188, 212);
    background: -moz-linear-gradient(right, rgb(0, 188, 212) 50%, rgb(0, 151, 167) 50%);
    background: -webkit-linear-gradient(right, rgb(0, 188, 212) 50%, rgb(0, 151, 167) 50%);
    background: linear-gradient(to left, rgb(0, 188, 212) 50%, rgb(0, 151, 167) 50%);
    background-size: 210%;
    background-position-x: 99%;
}

.btn-info:hover {
    background-position-x: 0;
}

.btn-warning, .btn-warning:focus {
    background: rgb(255, 193, 7);
    background: -moz-linear-gradient(right, rgb(255, 193, 7) 50%, rgb(255, 160, 0) 50%);
    background: -webkit-linear-gradient(right, rgb(255, 193, 7) 50%, rgb(255, 160, 0) 50%);
    background: linear-gradient(to left, rgb(255, 193, 7) 50%, rgb(255, 160, 0) 50%);
    background-size: 210%;
    background-position-x: 99%;
}

.btn-warning:hover {
    background-position-x: 0;
}

.btn-danger, .btn-danger:focus {
    background: rgb(244, 67, 54);
    background: -moz-linear-gradient(right, rgb(244, 67, 54) 50%, rgb(211, 47, 47) 50%);
    background: -webkit-linear-gradient(right, rgb(244, 67, 54) 50%, rgb(211, 47, 47) 50%);
    background: linear-gradient(to left, rgb(244, 67, 54) 50%, rgb(211, 47, 47) 50%);
    background-size: 210%;
    background-position-x: 99%;
}

.btn-danger:hover {
    background-position-x: 0;
}

.btn-white, .btn-white:focus, .btn-white:hover, .btn-white:active, .btn-white:active:hover {
    background: transparent;
    outline: none !important;
    box-shadow: none;
    text-transform: uppercase;
}

.btn-white.btn-primary, .btn-white.btn-primary:focus, .btn-white.btn-primary:hover, .btn-white.btn-primary:active, .btn-white.btn-primary:active:hover {
    color: rgb(33, 150, 243);
}

.btn-white.btn-success, .btn-white.btn-success:focus, .btn-white.btn-success:hover, .btn-white.btn-success:active, .btn-white.btn-success:active:hover {
    color: rgb(76, 175, 80);
}

.btn-white.btn-info, .btn-white.btn-info:focus, .btn-white.btn-info:hover, .btn-white.btn-info:active, .btn-white.btn-info:active:hover {
    color: rgb(0, 188, 212);
}

.btn-white.btn-warning, .btn-white.btn-warning:focus, .btn-white.btn-warning:hover, .btn-white.btn-warning:active, .btn-white.btn-warning:active:hover {
    color: rgb(255, 193, 7);
}

.btn-white.btn-danger, .btn-white.btn-danger:focus, .btn-white.btn-danger:hover, .btn-white.btn-danger:active, .btn-white.btn-danger:active:hover {
    color: rgb(244, 67, 54);
}

.btn {
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-weight: normal;
    margin: 5px !important;
    transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.btn-group {
    background: #dadada;
}

.btn-group > .btn {
    padding: 5px 10px;
}

.btn-lg {
    padding: 20px 30px;
    font-size: 20px;
}

.progress {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.progress-bar {
    background-color: rgb(33, 150, 243);
}

.progress-bar-success {
    background-color: rgb(76, 175, 80);
}

.progress-bar-info {
    background-color: rgb(0, 188, 212);
}

.progress-bar-warning {
    background-color: rgb(255, 193, 7);
}

.progress-bar-danger {
    background-color: rgb(244, 67, 54);
}

.progress-bar {
    transition: width 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.row-margin {
    margin-top: 10px;
}

/* SHADOWS */

.depth-0 {
    box-shadow: none;
}

.depth-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.depth-2 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.23);
}

.depth-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.depth-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.depth-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Tabs */

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border: none;
    border-radius: 0;
    background-color: #c0c0c0;
}

.nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
}

.nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 0;
    margin-bottom: 0;
}

.tab-pane {
    padding: 20px 20px;
}

/* MODALS */

.modal-header {
    background-color: rgb(255, 87, 34);
    border-bottom: none;
}

.modal-title {
    color: #ffffff;
}

.modal-body {
    padding: 0 0 15px;
}

.modal-content {
    border-radius: 0;
}

.modal-content .nav-tabs {
    background-color: rgb(255, 87, 34);
}

.modal-content .nav-tabs.nav-justified > li > a {
    color: #ffffff;
}

.modal-content .nav > li > a {
    border: none;
    border-bottom: solid 2px transparent;
    transition: border ease 200ms;
}

.modal-content .nav-tabs.nav-justified > .active > a, .modal-content .nav-tabs.nav-justified > .active > a:focus,
.modal-content .nav-tabs.nav-justified > .active > a:hover, .modal-content .nav > li > a:focus,
.modal-content .nav-tabs.nav-justified > li > a:hover {
    background-color: transparent;
    border-bottom: solid 2px #ffffff;
}

.modal-footer {
    border-top: none;
    padding-bottom: 5px;
}

/* NAVBAR */

.navbar-default {
    background-color: rgb(255, 87, 34);
    border: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    border-bottom: solid 2px #fff;
}

.navbar-default .navbar-nav > li > a {
    border: none;
    border-bottom: solid 2px transparent;
    transition: border ease 200ms;
}

.navbar-default .navbar-nav > .active > a, .modal-content .nav-tabs.nav-justified > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover, .modal-content .nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: transparent;
    border-bottom: solid 2px #ffffff;
}

.navbar-default .navbar-nav > .dropdown > a, .navbar-default .navbar-nav > .open > a .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: transparent;
    border-radius: 100%;
    border-bottom: none !important;
    width: 54px;
    height: 54px;
    padding: 15px;
}

.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none;
}

.navbar-nav > li {
    float: left;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-header {
    float: left;
}

.navbar-right .dropdown-menu {
    top: 2px;
    right: 2px;
    left: auto;
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    width: 200px;
    margin-top: 0;
    background-color: #ffffff;
    border-radius: 0;
    border: none;
    top: 2px;
    right: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown.open > .dropdown-menu {
    animation: dropdownIn ease 200ms;
}

.dropdown.open > .dropdown-menu > li {
    animation: dropdownItemsIn ease 400ms;
}

/* INPUTS */

.text > .form-control {
    height: 30px;
    display: block;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.12) 2px;
    border-radius: 0;
    box-shadow: none;
    line-height: 26px;
    font-size: 18px;
    margin: 5px 0 0;
}

.text > label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    transform: translate(5px, -23px);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.text > input:focus ~ label, .text > input:valid ~ label {
    transform: translate(5px, -44px);
    font-size: 14px;
    color: rgb(255, 87, 34);
}

.form-control:focus {
    box-shadow: none;
    border-bottom-color: rgb(255, 87, 34);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 0.5;
}

.form-group > span {
    color: rgb(255, 87, 34);
}

/* MISC */
.material-icons {
    vertical-align: middle;
}

.modal.fade .modal-dialog {
    -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
}

.modal.in .modal-dialog {
    opacity: 1;
}

.modal.fade {
    -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(100vh);
}

.modal.in {
    transform: translateY(0);
}

.content {
    -webkit-transition: filter 300ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: filter 300ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: filter 300ms cubic-bezier(0.19, 1, 0.22, 1);
    filter: blur(0);
}

.modal-open > .content {
    filter: blur(3px);
}

.spin {
    animation: infinite spin 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

@keyframes dropdownIn {
    0% {
        transform: translate(50%, -50%) scale(0, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0) scale(1, 1);
        opacity: 1;
    }
}

@keyframes dropdownItemsIn {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    25% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
