@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

//Theme settings
$colorBackground: #EEEEEE;
$colorForeground: #FFFFFF;
$colorText: #000000;
$colorSecondaryText: #757575;
$colorDivider: rgba(0, 0, 0, 0.06);
$colorTheme: #FF5722;
$colorThemeText: #FFFFFF;

//Colors
$colorDefault: #ffffff;
$colorPrimary: #2196F3;
$colorSuccess: #4CAF50;
$colorInfo: #00BCD4;
$colorWarning: #FFC107;
$colorDanger: #f44336;

//Spinner
$offsetSpinnerStroke: 187;
$durationSpinner: 1.6s;

//Styling
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.selectable {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  cursor: auto;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 200px;
  min-height: 100%;
  font-family: "Roboto", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: $colorBackground;
  color: $colorText;
}

.jumbotron {
  background-color: $colorForeground;
  border-radius: 0 !important;
  @extend .depth-1;
}

.jumbotron p {
  font-size: 14px;
}

.content {
  padding-top: 120px;
}

/* Buttons */

.btn > * {
  cursor: pointer;
}

.btn-default, .btn-default:focus, .btn-default:hover, .btn-default:active, .btn-default:hover:active, .btn-default:focus:active {
  background: $colorDefault;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:hover:active, .btn-primary:focus:active {
  background: $colorPrimary;
}

.btn-success, .btn-success:focus, .btn-success:hover, .btn-success:active, .btn-success:hover:active, .btn-success:focus:active {
  background: $colorSuccess;
}

.btn-info, .btn-info:focus, .btn-info:hover, .btn-info:active, .btn-info:hover:active, .btn-info:focus:active {
  background: $colorInfo;
}

.btn-warning, .btn-warning:focus, .btn-warning:hover, .btn-warning:active, .btn-warning:hover:active, .btn-warning:focus:active {
  background: $colorWarning;
}

.btn-danger, .btn-danger:focus, .btn-danger:hover, .btn-danger:active, .btn-danger:hover:active, .btn-danger:focus:active {
  background: $colorDanger;
}

.btn-flat, .btn-flat:focus, .btn-flat:hover, .btn-flat:active, .btn-flat:hover:active, .btn-flat[disabled], .btn-flat[disabled]:focus, .btn-flat[disabled]:hover, .btn-flat[disabled]:active, .btn-flat[disabled]:hover:active {
  background: transparent !important;
  outline: none !important;
  box-shadow: none;
  text-transform: uppercase;
}

.btn-flat.btn-default, .btn-flat.btn-default:focus, .btn-flat.btn-default:hover, .btn-flat.btn-default:active, .btn-flat.btn-default:active:hover {
  color: $colorText;
}

.btn-flat.btn-primary, .btn-flat.btn-primary:focus, .btn-flat.btn-primary:hover, .btn-flat.btn-primary:active, .btn-flat.btn-primary:active:hover {
  color: $colorPrimary;
}

.btn-flat.btn-success, .btn-flat.btn-success:focus, .btn-flat.btn-success:hover, .btn-flat.btn-success:active, .btn-flat.btn-success:active:hover {
  color: $colorSuccess;
}

.btn-flat.btn-info, .btn-flat.btn-info:focus, .btn-flat.btn-info:hover, .btn-flat.btn-info:active, .btn-flat.btn-info:active:hover {
  color: $colorInfo;
}

.btn-flat.btn-warning, .btn-flat.btn-warning:focus, .btn-flat.btn-warning:hover, .btn-flat.btn-warning:active, .btn-flat.btn-warning:active:hover {
  color: $colorWarning;
}

.btn-flat.btn-danger, .btn-flat.btn-danger:focus, .btn-flat.btn-danger:hover, .btn-flat.btn-danger:active, .btn-flat.btn-danger:active:hover {
  color: $colorDanger;
}

.btn {
  height: 36px;
  min-width: 64px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 5px !important;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  transition: background 300ms cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn:focus, .btn:active, .btn:focus:active {
  outline: none;
}

.btn:not(.btn-flat) {
  @extend .depth-1;
}

.btn:not(.btn-flat):hover {
  @extend .depth-2;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.btn-block {
  width: auto;
}

.progress {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}

.progress-bar {
  background-color: $colorPrimary;
}

.progress-bar-success {
  background-color: $colorSuccess;
}

.progress-bar-info {
  background-color: $colorInfo;
}

.progress-bar-warning {
  background-color: $colorWarning;
}

.progress-bar-danger {
  background-color: $colorDanger;
}

.progress-bar {
  transition: width 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.row-margin {
  margin-top: 10px;
}

/* SHADOWS */

.depth-0 {
  box-shadow: none;
}

.depth-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.depth-2 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.23);
}

.depth-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.depth-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.depth-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* Tabs */

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
  border: none;
  border-radius: 0;
}

.nav-tabs.nav-justified > li {
  display: table-cell;
  width: 1%;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: none;
  border-radius: 0;
  margin-bottom: 0;
}

.tab-pane {
  padding: 20px 20px;
}

/* NAVBAR */

.navbar-default {
  background-color: $colorTheme;
  border: none;
  border-radius: 0;
  @extend .depth-2;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: $colorThemeText;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  border-bottom: solid 2px $colorThemeText;
}

.navbar-default .navbar-nav > li > a {
  border: none;
  border-bottom: solid 2px transparent;
  transition: border ease 200ms;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: $colorThemeText;
  background-color: transparent;
  border-bottom: solid 2px $colorThemeText;
}

.navbar-nav > .dropdown > a, .navbar-nav > .dropdown > a:focus, .navbar-nav > .dropdown > a:hover,
.navbar-nav > .open > a, .navbar-nav > .open > a:focus, .navbar-nav > .open > a:hover {
  color: $colorThemeText !important;
  background-color: transparent !important;
  border-radius: 100%;
  border-bottom: none !important;
  width: 54px;
  height: 54px;
  padding: 15px;
}

.navbar-nav {
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  float: none;
}

.navbar-nav > li {
  float: left;
}

.navbar-right {
  float: right !important;
  margin-right: -15px;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar-header {
  float: left;
}

.navbar-right .dropdown-menu {
  top: 2px;
  right: 2px;
  left: auto;
}

.navbar-nav .open .dropdown-menu, .contextmenu.open .dropdown-menu {
  position: absolute;
  float: left;
  width: 200px;
  margin-top: 0;
  background-color: $colorForeground;
  border-radius: 0;
  border: none;
  top: 2px;
  right: 2px;
  @extend .depth-3;
}

.dropdown.open .dropdown-menu {
  animation: dropdownIn ease 200ms;
}

.dropdown.open .dropdown-menu > li {
  opacity: 0;
  animation: dropdownItemsIn ease 300ms forwards;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $colorText;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 1.42857143;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    padding: 3px 20px;
  }

  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    width: 200px;
    background-color: $colorForeground;
    border: none;
  }
}

/* FOOTER */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* INPUTS */
.text {
  padding-top: 15px;
}

.text > .form-control {
  height: 30px;
  display: block;
  padding: 0 10px;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.12) 2px;
  border-radius: 0;
  box-shadow: none;
  line-height: 26px;
  font-size: 18px;
  margin: 5px 0 0;
}

.text > label {
  color: $colorSecondaryText;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  transform: translate(10px, -27px);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.text > input:focus ~ label, .text > input.hastext ~ label {
  transform: translate(5px, -44px);
  font-size: 14px;
  color: $colorTheme;
}

.form-control:focus {
  box-shadow: none;
  border-bottom-color: $colorTheme;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  opacity: 0.5;
}

.form-group > span {
  color: $colorTheme;
}

// MODALS
.modal.fade, .modal.in, .modal.fade .modal-dialog, .modal.in .modal-dialog {
  transform: none;
  transition: opacity 100ms linear;
}

.modal-backdrop.in {
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.modal-header {
  background-color: $colorForeground;
  border-bottom: none;
  padding: 24px 24px 0 24px;
  border-radius: 2px;
}

.modal-title {
  color: $colorText;
}

.modal-body {
  padding: 20px 24px 24px 24px;
}

.modal-body > p {
  color: lighten($colorText, 20%);
}

.modal-footer {
  border-top: none;
  padding: 8px 8px 8px 24px;
}

.modal-footer > .btn-flat {
  padding-left: 8px;
  padding-right: 8px;
  margin: 0 0 0 8px !important;
}

.modal-content {
  border-radius: 2px;
  border: none;
  @extend .depth-4;
}

// SPINNER
.spinner {
  animation: spinnerRotate $durationSpinner linear infinite;
}

.spinner .path {
  stroke-dasharray: $offsetSpinnerStroke;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: $colorText;
  animation: spinnerDash $durationSpinner cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.spinner.primary .path {
  stroke: $colorTheme;
}

.load-spinner {
  position: fixed;
  left: 50%;
  color: $colorForeground;
  border-radius: 100%;
  transform: translate(-50%, -100%) scale(0);
  height: 40px;
  width: 40px;
  transition: transform 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 10px;
  @extend .depth-2;
}

.load-spinner.shown {
  transform: translate(-50%, 0) scale(1);
}

/* MISC */
.material-icons {
  vertical-align: middle;
}

.contextmenu {
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
}

.contextmenu.open > .dropdown-menu {
  animation: contextMenuIn ease 200ms;
}

.spin {
  animation: infinite spin 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.table > tbody > tr:after {
  content: '';
  display: inline-block;
  height: 64px;
  width: 0;
}

.table td, .table th {
  vertical-align: middle !important;
  border-top: 1px solid $colorDivider !important;
  font-weight: normal !important;
}

.table th {
  text-align: center;
  color: rgba($colorText, .75);
}

.table td.number {
  text-align: right;
}

.table > thead > tr {
  height: 56px;
}

.dropdown-menu {
  @extend .depth-3;
}

.contextmenu > .dropdown-menu {
  @extend .depth-5;
}

.g-recaptcha {
  padding-top: 15px;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}

@keyframes dropdownIn {
  0% {
    transform: translate(50%, -50%) scale(0, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1, 1);
    opacity: 1;
  }
}

@keyframes dropdownOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dropdownItemsIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contextMenuIn {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0) scale(1, 1);
    opacity: 1;
  }
}

@keyframes spinnerRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes spinnerDash {
  0% {
    stroke-dashoffset: $offsetSpinnerStroke;
  }
  50% {
    stroke-dashoffset: $offsetSpinnerStroke/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offsetSpinnerStroke;
    transform: rotate(450deg);
  }
}
